/Results/*
*.pyc
*.log
run_dev.bat
Baseline/
Work/
.idea

scripts/AOV_Test.bat
scripts/Anti_Aliasing_Test.bat
scripts/Base_Lights_Test.bat
scripts/Camera_Test.bat
scripts/Denoiser_Test.bat
scripts/Emissive_Light_Test.bat
scripts/IBL_Test.bat
scripts/IES_Test.bat
scripts/Image_Size_Test.bat
scripts/Iterations_Test.bat
scripts/Material_Library_Test.bat
scripts/Output_Image_Formats_Test.bat
scripts/PBR_Test.bat
scripts/Render_Mode_Test.bat
scripts/Render_Stamp_Test.bat
scripts/Smoke_Test.bat
scripts/Sun_Sky_Test.bat
scripts/Uber_Test.bat
