{% if pageID %}
    <table class="baseTable">
        <tr>
            <th>Testing start</th>
            {% if report_type == 'ec' %}
                {# Core #}
                <th>Major version</th>
                <th>Minor version</th>
            {% else %}
                {# Default and converters #}
                <th>Plugin version</th>
                <th>Core version</th>
            {% endif %}
            <th>Branch name</th>
            <th>Commit SHA</th>
            <th>Commit message</th>
            {% if common_info.engine %}
                <th>Engine</th>
            {% endif %}
        </tr>
        <tr>
            <td>{{ common_info.reporting_date | env_override("JOB_STARTED_TIME") }}</td>
            {% if report_type == 'ec' %}
                {# Core #}
                <td>{{ common_info.core_version }}</td>
                <td>{{ common_info.minor_version }}</td>
            {% else %}
                {# Default and converters #}
                <td
                    {% if common_info.render_version|length > 10 %}
                        class="failedStatus"
                    {% endif %}
                >{{ common_info.render_version }}</td>
                <td>{{ common_info.core_version }}</td>
            {% endif %}
            <td>{{ common_info.branch_name }}</td>
            <td>{{ common_info.commit_sha }}</td>
            <td>{{ common_info.commit_message }}</td>
            {% if common_info.engine %}
                <td>{{ common_info.engine }}</td>
            {% endif %}
        </tr>
    </table>
{% else %}
    <table class="baseTable">
        <tr>
            <th>Tool</th>
            <th>Render device</th>
            <th>Tests Package</th>
            {% if report_type == 'ec' %}
                {# Core #}
                <th>Major version</th>
                <th>Minor version</th>
            {% else %}
                {# Default and converters #}
                <th>Plugin version</th>
                <th>Core version</th>
            {% endif %}
            <th>Testing start</th>
            <th>Branch name</th>
            <th>Commit SHA</th>
            <th>Commit message</th>
            {% if common_info.engine %}
                <th>Engine</th>
            {% endif %}
        </tr>
        <tr>
            <td>{{ common_info.tool }}</td>
            <td>{{ common_info.render_device }}</td>
            <td>{{ common_info.test_group }}</td>
            {% if report_type == 'ec' %}
                {# Core #}
                <td>{{ common_info.core_version }}</td>
                <td>{{ common_info.minor_version }}</td>
            {% else %}
                {# Default and converters #}
                <td>{{ common_info.render_version }}</td>
                <td>{{ common_info.core_version }}</td>
            {% endif %}
            <td>{{ common_info.testing_start }}</td>
            <td>{{ common_info.branch_name }}</td>
            <td>{{ common_info.commit_sha }}</td>
            <td>{{ common_info.commit_message }}</td>
            {% if common_info.engine %}
                <td>{{ common_info.engine }}</td>
            {% endif %}
        </tr>
    </table>
{% endif %}