{% extends "base_template.html"%}

{% block report_body %}

<h1>details</h1>

{%- if i != "_cur_" %}
<h3>{{ i }}</h3>
{% endif -%}

{% include "images_compare_block.html" %}

{% if report_type == 'default' %}
    {%
    set template_columns = [
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'false', 'name': 'test_case'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'test_case_copy'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'parameters'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'test_status'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'false', 'data_visible': 'false', 'name': 'test_status_new'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'render_time'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'baseline_render_time'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'time_diff'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'baseline_img'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'rendered_img'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'pix_diff_2'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'false', 'data_visible': 'true',  'name': 'render_log'}
    ] 
    %}
{% elif report_type == 'ec' %}
    {%
    set template_columns = [
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'false', 'name': 'test_case'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'test_case_copy'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'test_status'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'render_time'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'baseline_render_time'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'time_diff'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'baseline_img'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'rendered_img'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'render_vram'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'baseline_vram'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'vram_diff'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'pix_diff'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'false', 'data_visible': 'false', 'name': 'render_log'}
    ] 
    %}
{% elif report_type == 'ct' %}
    {%
    set template_columns = [
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'false', 'name': 'test_case'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'test_case_copy'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'test_status'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'original_time'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'baseline_render_time'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'render_time'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'time_diff'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'original_img'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'baseline_img'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'rendered_img'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'pix_diff'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'false', 'data_visible': 'true',  'name': 'render_log'}
    ] 
    %}
{% endif %}

<div class="jsTableWrapper">
    <div id="toolbar">
        <button class="commonButton" type="button" name="showOnlyPassedCases" onclick="searchTextInBootstrapTable('passed');">Show passed [{{ report[i].summary.passed }}]</button>
        <button class="commonButton" type="button" name="showOnlyFailedCases" onclick="searchTextInBootstrapTable('failed');">
            Show failed [{{ report[i].summary.failed }}]
            <span class="glyphicon glyphicon-question-sign" aria-haspopup="true" aria-hidden="true"data-toggle="tooltip" data-placement="top"
                  title="[Failed] status means that pixel difference with baseline image is too large."></span>
        </button>
        <button class="commonButton" type="button" name="showOnlyErrorCases" onclick="searchTextInBootstrapTable('error');">
            Show error [{{ report[i].summary.error }}]
            <span class="glyphicon glyphicon-question-sign" aria-haspopup="true" aria-hidden="true"data-toggle="tooltip" data-placement="top"
                  title="[Error] status means fatal error during render, terminating by timeout, or case wasn't launched at all."></span>
        </button>
        <button class="commonButton" type="button" name="showOnlySkippedCases" onclick="searchTextInBootstrapTable('skipped');">Show skipped [{{ report[i].summary.skipped }}]</button>
        <button class="commonButton" type="button" name="showAll" onclick="searchTextInBootstrapTable('');">Reset</button>
    </div>

    <table id="{{ i | lower | replace(' ', '_') | replace('(', '') | replace(')', '') }}"
           data-toolbar="#toolbar"
           class="baseTable detailedTable"
           data-toggle="table"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="false"
           data-show-columns="true"
           data-show-pagination-switch="true"
           data-pagination="true"
           data-page-size="10"
           data-page-list="[1, 5, 10, 20, 45, ALL]"
           data-sort-order="asc"
           data-sort-name="test_status"
           data-show-multi-sort="true"
    >

        <thead>
            <tr>
                {% for column in template_columns %}
                    {% with column_name=column, is_head=True, template_name='detailed' %}
                        {%- include 'columns_template.html' -%}
                    {% endwith %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for test_package, value in report[i].results | dictsort %}
                {% for test_conf, value in report[i].results[test_package] | dictsort%}
                    {% if report[i].results[test_package][test_conf].render_results | length > 0 %}
                        {% for item in report[i].results[test_package][test_conf].render_results %}
                            <tr>
                                {% for column in template_columns %}
                                    {% with column_name=column, is_head=False, template_name='detailed' %}
                                        {%- include 'columns_template.html' -%}
                                    {% endwith %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock %}