{% extends "base_template.html"%}

{% block report_body %}
{% if tracked_metrics_history %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="{{ pre_path }}/report_resources/js/performance-history.js"></script>
{% endif %}

{% include "images_compare_block.html" %}

{% if tracked_metrics_history %}
    {% set show_tracked_metrics_column = 'true' %}
{% else %}
    {% set show_tracked_metrics_column = 'false' %}
{% endif %}

{% if report_type == 'default' %}
    {%
    set template_columns = [
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'false', 'name': 'test_case'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'test_case_copy'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'baseline_img'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'rendered_img'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'info'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'false', 'name': 'time_diff'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'false', 'name': 'pix_diff_2'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'false', 'name': 'test_status'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'false', 'data_visible': 'true',  'name': 'test_status_new'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'false', 'name': 'render_time'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'false', 'name': 'baseline_render_time'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'false', 'data_visible': 'true',  'name': 'render_log'}
    ] 
    %}
{% elif report_type == 'ec' %}
    {%
    set template_columns = [
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'false', 'name': 'test_case'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'test_case_copy'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'baseline_img'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'rendered_img'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'info'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'false', 'name': 'time_diff'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'false', 'name': 'render_vram'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'false', 'name': 'baseline_vram'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'vram_diff'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'false', 'name': 'pix_diff'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'false', 'name': 'test_status'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'false', 'data_visible': 'true',  'name': 'test_status_new'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'false', 'name': 'render_time'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'false', 'name': 'baseline_render_time'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'false', 'data_visible': 'false', 'name': 'render_log'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'false', 'data_visible': show_tracked_metrics_column,  'name': 'performance_history'}
    ] 
    %}
{% elif report_type == 'ct' %}
    {%
    set template_columns = [
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'false', 'name': 'test_case'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'test_case_copy'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'original_img'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'baseline_img'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'rendered_img'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'time_diff'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'pix_diff'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'test_status'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'original_time'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'baseline_render_time'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'true',  'data_visible': 'true',  'name': 'render_time'},
        {'data_halign': 'center', 'data_valign': 'middle', 'data_sortable': 'false', 'data_visible': 'true',  'name': 'render_log'}
    ] 
    %}
{% endif %}

<div class="jsTableWrapper">
    <div id="toolbar">
        <button class="commonButton" type="button" name="showOnlyPassedCases" onclick="searchTextInBootstrapTable('passed');">Show passed [{{ render_report | selectattr("test_status", "equalto", "passed") | list | count }}]</button>
        <button class="commonButton" type="button" name="showOnlyFailedCases" onclick="searchTextInBootstrapTable('failed');">
            Show failed [{{ render_report | selectattr("test_status", "equalto", "failed") | list | count }}]
            <span class="glyphicon glyphicon-question-sign" aria-haspopup="true" aria-hidden="true"data-toggle="tooltip" data-placement="top"
                  title="Failed status means that pixel difference with baseline image is too large."></span>
        </button>
        <button class="commonButton" type="button" name="showOnlyErrorCases" onclick="searchTextInBootstrapTable('error');">
            Show error [{{ render_report | selectattr("test_status", "equalto", "error") | list | count }}]
            <span class="glyphicon glyphicon-question-sign" aria-haspopup="true" aria-hidden="true"data-toggle="tooltip" data-placement="top"
                  title="Error status means that fatal error has occur during testing."></span>
        </button>
        <button class="commonButton" type="button" name="showOnlySkippedCases" onclick="searchTextInBootstrapTable('skipped');">Show skipped [{{ render_report | selectattr("test_status", "equalto", "skipped") | list | count }}]</button>
        <button class="commonButton" type="button" name="showAll" onclick="searchTextInBootstrapTable('');">Reset</button>
    </div>

    <table class="baseTable localReportTable"
           id="local"
           data-toolbar="#toolbar"
           data-toggle="table"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="false"
           data-show-columns="true"
           data-show-pagination-switch="true"
           data-pagination="true"
           data-page-size="5"
           data-page-list="[1, 5, 10, 20, 45, ALL]"
           data-sort-order="asc"
           data-sort-name="test_status"
           data-show-multi-sort="true">

        <thead>
            <tr>
                {% for column in template_columns %}
                    {% with column_name=column, is_head=True, template_name='local' %}
                        {%- include 'columns_template.html' -%}
                    {% endwith %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in render_report %}
                <tr>
                    {% for column in template_columns %}
                        {% with column_name=column, is_head=False, template_name='local' %}
                            {%- include 'columns_template.html' -%}
                        {% endwith %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock %}